@import '~bootstrap/scss/bootstrap';

.main {
  display: flex;
  // flex-direction: column;
  justify-content: center
}
.sub {
  display: flex;
  justify-content: center
}
#sign-up-in {
  display: flex;
  justify-content: center
}