@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

.background {
  background-color: #20B2AA;
  font-family: 'Smooch', cursive
}
.main {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  // position: fixed
}
.sub {
  display: flex;
  justify-content: center
}

// #sign-up {
//   display: flex;
//   flex-wrap: wrap;
//   // justify-content: space-around;
//   // margin-top: 20vh;
//   border: none;
//   // width: 
// }
// #sign-in {
//   display: flex;
//   flex-wrap: wrap;
//   // justify-content: space-around;
//   border: 3px solid pink;
// }
// #form-style {
//   // display: flex;
//   // justify-content: center;
//   // flex-direction: column;
//   // border: 3px solid pink;
//   // // width: 50vw;
//   // align-items: center;

// }
// .form-style1 {
//   // display: flex;
//   // justify-content: center;
//   // flex-direction: column;
//   // // width: 50vw;
//   // align-items: center;
// }
// input {
//   border: black;
// }
// .signup {
  // margin-top: 20vh;
// }
.image-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 3px solid black;
}
.pic1a {
  background-size: 100%;
  width: 28vw;
  height: 28vh;
  border-radius: 15px;
  // border: 3px solid black
}
.pic1b {
  background-size: 100%;
  width: 28vw;
  height: 28vh;
  margin-top: 5vh;
  border-radius: 15px;
}
// .pic1c {
//   background-size: 100%;
//   width: 20vw;
//   height: 20vh;
// }
.bottom-images {
  display: flex;
  justify-content: space-around;
  // border: 3px solid red;
}
.messages {
  display: flex;
  justify-content: center;
}